html {zoom: 100%;}

body{
    font-family: Cambria, Garamond, serif;
    padding:10;
    background-color:  #e8e8e8;
    text-align: left;
    color: black;
    min-width: 200px;
    font-size: 12pt;
}

h1 {
    color: #275d38;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
}

h2{
    margin-top:0;
    margin-bottom:.5rem;
    color: #275d38;
}
.center-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#welcome{
    background-color:  #e8e8e8;
    display:inline-block;
    margin:3rem;
    padding:1rem 2rem 1rem 2rem ;
    text-align: left;
}

.page{
    background-color:  #e8e8e8;
    display:inline-block;
    padding:1rem;
    text-align: left;
    border-radius: 5px;
    border: 2px  #e8e8e8 solid;
}

#welcome p{
    line-height: 1.1rem;
    font-weight: bold;
}

#hamburger{
    cursor: pointer; 
    /*background-color:white; */
    color:black; 
    padding:4px;
    margin:0;
    /*font-size: 1.2rem;*/
}

.tools{
    color:#8e8c89;
    cursor:pointer;
}

.tools:hover{
    color:#6f937a;
}

.inventory-table{
    background-color: lightgrey;

}


.inventory-table th {
    color: maroon;
    background-color: lightyellow;
    margin:1px;
    padding: 4px 8px 4px 8px;
}
.inventory-table td {
    color: black;
    margin:1px;
    padding: 4px 8px 4px 8px;
    white-space: nowrap;
    text-align: right;

}

.working{
    background-image: url(images/progresswheel.gif);
    background-position: left;
    background-size: 20px;
    background-repeat: no-repeat;
}

.inventory-table input {
    width:100%;
    border:none;
    text-align: right;
    background-color: transparent;
}

.sticky{
    position:sticky;
    top:0;
}

.hidden{
    display:none;
}
.inactive{
    background-color: lightyellow;
}
.active{
    background-color:  #e8e8e8;
}

.button {
    background-color:#275d38; 
    padding: 5px 5px	5px	5px ;
    text-align: center;
    display:inline-block;
    font-size: 24px;
    border-radius: 15px;
    color:white;
    font-family: Cambria, Garamond, serif;
    width:200px;
  }

.table {
    padding: 0;
    margin: auto;
    border-collapse: collapse;
    width: 80%;
    text-align: center;
    color: black;
    }
.tableHeaderRow {
    color: #275D38;
    font-weight: bold;
    height: 50px;
}
.tableBodyRow:nth-child(odd){
    background-color: rgba(178, 89, 201, 0.05);
}

.tableBodyRow:hover{
background-color: rgb(80, 148, 80);
}
.table tr td {
height: 25px;
}
.user{
    color: black;
    border: 5px ridge #275D38;
    padding: 15px;
    text-align: left;
    border-radius: 15px;
    margin-left: auto;
    margin-right: 15px;
}
.div:not(:first-child):not(:last-child) {
margin-top: 15px;
margin-bottom: 15px;
}
.cb {
	width: 20px;
	height: 20px;
	float: center;
	color: #000000;
}

.scroll{
    height:300px;
    width:auto;
    border:1px solid #ccc;
    font:16px/26px Cambria, Garamond, serif;
    overflow:auto;
}

.right{
    float: right;
}
